@use '@angular/material' as mat;

html {
  color-scheme: light;

  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
        theme-type: light,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  margin: 0;
  min-height: 100%;
}

body {
  min-width: 320px;
  background: var(--mat-sys-surface-container-low);
  color: var(--mat-sys-on-surface);
  font-family: Roboto, sans-serif;
}

button,
input {
  font: inherit;
}
